/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 */
 @import "bootstrap";
 @import "tempusdominus-bootstrap-4.css";

 @mixin form_row{
    padding: 0.5em 1em;
    margin: 2em 0;
    color: #5d627b;
    background: white;
    border-top: solid 5px #5d627b;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.22);
 }
 @mixin form_item{
    margin: 0; 
    padding: 0;
 }
//home
 .demo {
   width: 500px;
   margin: 0 auto;
   padding: 10px 0;
   font-family: sans-serif;
   font-size: 20px;
   color:#3cb3e4;
 }
 .home_text{
   text-align: center;
   margin:  0;                 
   line-height: 2;             
   padding-left: 40px;         
 }
 .heading {
   margin: 10px 0
 }
 .demo9 .heading {
   border-top: 3px solid #3cb3e4;
   border-bottom: 3px solid #3cb3e4;
   padding: 5px 20px;
   position: relative;
   width: 300px;
   text-align: center;
   margin: 30px auto;
   color: #3cb3e4;
   font-weight: bold;
 }
 .demo9 .heading:before {
   content: "";
   border-left: 3px solid #3cb3e4;
   border-right: 3px solid #3cb3e4;
   display: block;
   position: absolute;
   width: calc(100% - 20px);
   height: 58px;
   top: -8px;
   left: 8px;
 }

.home_title {
  margin-top:5rem;
  text-align: center;
  background: #dfefff;
  box-shadow: 0px 0px 0px 5px #dfefff;
  border: dashed 1px #96c2fe;
  padding: 0.2em 0.5em;
  color: #454545;
}
//incomes#edit & new

.incomes_row{
    @include form_row;
    .incomes_item{
    @include form_item;
    }
}

.expenses_row{
   @include form_row;
   .expenses_item{
   @include form_item;
   }
}




